<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container" style="margin-top: 80px;" id="content" #content>
  <div class="d-flex justify-content-between mb-2 mt-4">
    <div>
      <input class="form-control" matInput (keyup)="applyFilter($event)" placeholder="Search" type="text" #input>
    </div>
    <button type="button" mat-raised-button color="primary" data-bs-toggle="modal" (click)="AddProductBtn()"
      data-bs-target="#exampleModal">
      Add Product
    </button>
  </div>
  <div class="table-responsive">

    <table mat-table [dataSource]="dataSource" class="table  table-hover table-bordered" class="mat-elevation-z8"
      matSort (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image</th>
        <td mat-cell *matCellDef="let element"> <img src="https://localhost:7025/images/{{element.image}}"
            class="rounded-circle" height="40" width="40" /> </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="category"> Category</th>
        <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity"> Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="manufacturing_Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="manufacturing_Date">Manufacturing Date </th>
        <td mat-cell *matCellDef="let element"> {{element.manufacturing_Date | date : "dd/MM/y"}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="price">price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">
            <button mat-raised-button color="primary" class="mx-1" (click)="editProduct(element.id)"
              data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></button>
            <button mat-raised-button color="warn" (click)="DeleteProduct(element.id)"><i
                class="fa-solid fa-trash"></i></button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[3,5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
  <div class="d-flex justify-content-end">

    <button mat-raised-button color="primary" (click)="exportToCSV(dataSource)">Export to csv</button>
    <button mat-raised-button class="ms-1" color="primary" (click)="SavePDF(dataSource)">Save As PDF</button>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria- labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue" enctype="multipart/form-data">
          <div class="text-center">
            <img src="https://localhost:7025/images/{{imgUrl}}" class="rounded-circle" id="leafImg" height="100"
              width="100" *ngIf="imgUrl" />
          </div>
          <div class="mb-3 form-group"
            [class.error]="formValue.controls['Image'].dirty && formValue.hasError('required','Image')">
            <label class="form-label fs-6">Upload Image</label>
            <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="onImageSelected($event)"
              formControlName="Image" class="form-control" id="Image" aria-describedby="img">
            <div *ngIf="!imgUrl">
              <div id="imgvalidation" class="d-none">image is required</div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label fs-6">Product Name</label>
            <input type="text" formControlName="Name" required class="form-control" id="Name"
              aria-describedby="emailHelp">
            <div *ngIf="formValue.controls['Name'].dirty && formValue.hasError('required','Name')" class="text-danger">
              Product name is required</div>
          </div>

          <div class="mb-3">
            <label class="form-label fs-6">Category</label>
            <mat-select [formControl]="ctrl" class="form-control" [(value)]="multiSelectValue"
              (selectionChange)="filterMultiple(ctrl.value)" placeholder="--Select Category--" multiple>
              <mat-option *ngFor="let item of CategoryList" [value]="item.id">{{item.categoryName}}</mat-option>
            </mat-select>
            <div class="d-none" id="categoryValidation">Category is required</div>
          </div>

          <div class="mb-3">
            <label class="form-label fs-6">Description</label>
            <textarea type="text" formControlName="Description" required class="form-control" id="Description"
              maxlength="500" maxlength="500"></textarea>
            <div *ngIf="formValue.controls['Description'].dirty && formValue.hasError('required','Description')"
              class="text-danger">Description is required</div>
          </div>

          <div class="mb-3">
            <label class="form-label fs-6">Quantity</label>
            <input type="number" formControlName="Quantity" required class="form-control" id="Quantity" min="0"
              max="100">
            <div *ngIf="formValue.controls['Quantity'].dirty && formValue.hasError('required','Quantity')"
              class="text-danger">Quantity is required</div>
            <div *ngIf="formValue.controls['Quantity'].invalid && formValue.controls['Quantity'].touched"
              class="text-danger">Quantity must be between 1 to 100</div>
          </div>

          <div class="mb-3">
            <label class="form-label fs-6">Manufacturing Date</label>
            <input type="date" formControlName="Manufacturing_Date" max="2023-07-27" required class="form-control"
              id="Manufacturing_Date">
            <div
              *ngIf="formValue.controls['Manufacturing_Date'].dirty && formValue.hasError('required','Manufacturing_Date')"
              class="text-danger">Manufacturing Date is required</div>
          </div>

          <div class="mb-3 mt-3">
            <mat-checkbox formControlName="IsOutofstock"><span class="form-label me-2 fs-6">Is out of Stock</span></mat-checkbox>
          </div>

          <div class="mb-3 mt-3">
            <label class="form-label me-2 fs-6">Color : </label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label" formControlName="Color">
              <mat-radio-button class="example-radio-button"  *ngFor="let color of colors" [value]="color">
                {{color}}
              </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="formValue.controls['Color'].dirty && formValue.hasError('required','Color')" class="text-danger">
              Color is required
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label fs-6 me-2">Price</label>
            <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="Price">
            </mat-slider>

            <div *ngIf="formValue.controls['Price'].dirty && formValue.hasError('required','Price')"
              class="text-danger">Price is required</div>
          </div>

          <div class="modal-footer">
            <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" *ngIf="showAdd" class="btn btn-primary" (click)="PostProductDetails()">Add</button>
            <button type="submit" *ngIf="showUpdate" class="btn btn-primary" (click)="UpdateProduct()">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>