table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
  
  .bg-primary{
    background-color: rgb(32, 32, 110)!important;
  }

  mat-slider {
    width: 300px;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }